body {
    header {
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
        position: fixed;
        width: 100%;
        z-index: 3;

        div {
            width: 90%;
            margin: auto;
            max-width: 1700px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            background-color: #fff;

            li {
                float: left;

                a {
                    padding: 0px 19px;
                    display: block;
                    text-decoration: none !important;
                    color: #000;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                    font-size: 13px;
                }

                a:hover,
                .menu-btn:hover {
                    color: #000;
                    background-color: #d9d9d9;
                }
            }
        }

        .logo {
            display: block;
            float: left;
            width: 200px;
            text-decoration: none;
        }

        .menu {
            clear: none;
            float: right;
            max-height: none;
        }

        .menu-icon {
            cursor: pointer;
            display: none;
            float: right;
            padding: 7px 0px;
            position: relative;
            user-select: none;

            .navicon {
                background: #333;
                display: block;
                height: 2px;
                position: relative;
                transition: background .5s ease-out;
                width: 18px;

                &::before,
                &::after {
                    background: #333;
                    content: '';
                    display: block;
                    height: 100%;
                    position: absolute;
                    transition: all .5s ease-out;
                    width: 100%;
                }

                &::before {
                    top: 5px;
                }

                &::after {
                    top: -5px;
                }
            }
        }

        .menu-btn {
            display: none;

            &:checked~.menu {
                max-height: 100vh;
            }

            &:checked~.menu-icon .navicon {
                background: transparent;
            }

            &:checked~.menu-icon .navicon::before {
                transform: rotate(-45deg);
            }

            &:checked~.menu-icon .navicon::after {
                transform: rotate(45deg);
            }

            &:checked~.menu-icon:not(.steps) .navicon::before,
            &:checked~.menu-icon:not(.steps) .navicon::after {
                top: 0;
            }
        }
    }

    .container {
        padding-top: 80px;
    }

    .section_images {
        .boxes {
            .box_img {
                position: relative;
                overflow: hidden;
                margin: 0 auto;

                &::before {
                    position: absolute;
                    top: 71%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #333;
                    padding: 3px 12px;
                    color: #fff;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 13px;
                    text-align: center;
                    z-index: 2;
                    transition: .2s;
                }

                &:hover:before {
                    top: 43%;
                    white-space: pre-wrap;
                    width: calc(100%);
                    height: calc(140%);
                    background-color: #333333c7;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                &:hover:after {
                    content: 'xem thêm -->';
                    position: absolute;
                    top: 64%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 3px 12px;
                    color: #fff;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 9px;
                    text-align: center;
                    z-index: 2;
                    cursor: pointer;
                }
            }
        }

        .boxes:first-child {
            .box_img::before {
                content: 'phòng khách';
            }
        }

        .boxes:nth-child(2) {
            .box_img::before {
                content: 'phòng ăn';
            }
        }

        .boxes:nth-child(3) {
            .box_img::before {
                content: 'phòng ngủ';
            }
        }

        .boxes:nth-child(4) {
            .box_img::before {
                content: 'trang trí';
            }
        }
    }
}



@media only screen and (max-width: 575px) {
    body {

        .section_images {

            .boxes:nth-child(3),
            .boxes:nth-child(4) {
                display: none;
            }
        }

        .section_content {
            img {
                // max-width: 350px;
            }

        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
    body {
        .section_content {
            #img_left {
                padding-right: 7px;
            }
            .content_left{
                z-index: 2;
            }

            .content_right {
                padding-left: 7px;
                top: 0px;
                right: 0px;
                z-index: 2;
            }

            .bg_content_right {
                width: 107%;
                height: 100%;
                background-color: #b3b0b038;
                top: 14%;
                right: 0px;
                z-index: 1;
            }

        }
    }
}

@media only screen and (max-width: 1024px) {
    body {
        header {
            ul {
                width: 100%;

                li {
                    float: none;

                    a {
                        padding: 20px 20px;
                    }
                }
            }


            .menu {
                clear: both;
                max-height: 0;
                transition: max-height .2s ease-out;
            }

            .menu-icon {
                display: none;
                display: inline-block;
            }
        }
    }

}

@media only screen and (min-width: 1025px) {
    body {
        .section_content {
            .content_left {
                z-index: 2;
                #img_left {
                    padding-right: 7px;
                }
            }


            .content_right {
                padding-left: 7px;
                top: 0px;
                right: 0px;
                z-index: 2;
            }

            .bg_content_right {
                width: 107%;
                height: 100%;
                background-color: #b3b0b038;
                top: 14%;
                right: 0px;
                z-index: 1;
            }
        }
    }

}