@charset "UTF-8";
body header {
  -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

body header div {
  width: 90%;
  margin: auto;
  max-width: 1700px;
}

body header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

body header ul li {
  float: left;
}

body header ul li a {
  padding: 0px 19px;
  display: block;
  text-decoration: none !important;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
}

body header ul li a:hover,
body header ul li .menu-btn:hover {
  color: #000;
  background-color: #d9d9d9;
}

body header .logo {
  display: block;
  float: left;
  width: 200px;
  text-decoration: none;
}

body header .menu {
  clear: none;
  float: right;
  max-height: none;
}

body header .menu-icon {
  cursor: pointer;
  display: none;
  float: right;
  padding: 7px 0px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .5s ease-out;
  transition: background .5s ease-out;
  width: 18px;
}

body header .menu-icon .navicon::before, body header .menu-icon .navicon::after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  width: 100%;
}

body header .menu-icon .navicon::before {
  top: 5px;
}

body header .menu-icon .navicon::after {
  top: -5px;
}

body header .menu-btn {
  display: none;
}

body header .menu-btn:checked ~ .menu {
  max-height: 100vh;
}

body header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

body header .menu-btn:checked ~ .menu-icon .navicon::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

body header .menu-btn:checked ~ .menu-icon .navicon::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

body header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::before,
body header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon::after {
  top: 0;
}

body .container {
  padding-top: 80px;
}

body .section_images .boxes .box_img {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

body .section_images .boxes .box_img::before {
  position: absolute;
  top: 71%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #333;
  padding: 3px 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px;
  text-align: center;
  z-index: 2;
  -webkit-transition: .2s;
  transition: .2s;
}

body .section_images .boxes .box_img:hover:before {
  top: 43%;
  white-space: pre-wrap;
  width: calc(100%);
  height: calc(140%);
  background-color: #333333c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section_images .boxes .box_img:hover:after {
  content: 'xem thêm -->';
  position: absolute;
  top: 64%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3px 12px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 9px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
}

body .section_images .boxes:first-child .box_img::before {
  content: 'phòng khách';
}

body .section_images .boxes:nth-child(2) .box_img::before {
  content: 'phòng ăn';
}

body .section_images .boxes:nth-child(3) .box_img::before {
  content: 'phòng ngủ';
}

body .section_images .boxes:nth-child(4) .box_img::before {
  content: 'trang trí';
}

@media only screen and (max-width: 575px) {
  body .section_images .boxes:nth-child(3),
  body .section_images .boxes:nth-child(4) {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 1024px) {
  body .section_content #img_left {
    padding-right: 7px;
  }
  body .section_content .content_left {
    z-index: 2;
  }
  body .section_content .content_right {
    padding-left: 7px;
    top: 0px;
    right: 0px;
    z-index: 2;
  }
  body .section_content .bg_content_right {
    width: 107%;
    height: 100%;
    background-color: #b3b0b038;
    top: 14%;
    right: 0px;
    z-index: 1;
  }
}

@media only screen and (max-width: 1024px) {
  body header ul {
    width: 100%;
  }
  body header ul li {
    float: none;
  }
  body header ul li a {
    padding: 20px 20px;
  }
  body header .menu {
    clear: both;
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
  }
  body header .menu-icon {
    display: none;
    display: inline-block;
  }
}

@media only screen and (min-width: 1025px) {
  body .section_content .content_left {
    z-index: 2;
  }
  body .section_content .content_left #img_left {
    padding-right: 7px;
  }
  body .section_content .content_right {
    padding-left: 7px;
    top: 0px;
    right: 0px;
    z-index: 2;
  }
  body .section_content .bg_content_right {
    width: 107%;
    height: 100%;
    background-color: #b3b0b038;
    top: 14%;
    right: 0px;
    z-index: 1;
  }
}
/*# sourceMappingURL=index.css.map */